
/* .contact-page {
    position: absolute;
    bottom: 100px;
    right: 75px;
    height:300px;
    width: 450px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
    justify-content: space-around;
	align-items: flex-start;
	align-content: flex-end;
} */

.log-form-length {
    width: 80%;
}

.log-input {
    height: 33px;
    color: #555;
    text-decoration: overline;
    font-size: 20px;
}

.small-input-row {
    width: 100%;
    display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
/* .large-input, */
.small-input {
    margin: 10px;
    height: 33px;
    background-color: #F5F5F5;
    text-decoration: overline;
    font-size: 20px;
    width: 40%;
    border-radius: 2px;
}

/* .large-input {
    margin: 10px;
    width: 90%;
    height: 60px;
    text-decoration: overline;
    font-size: 20px;
    text-align: top;
} */

.submit-button {
    height: 50px;
    width: 150px;
    border-radius: 2px;
    background-color: #DEBF79;
    margin: auto;
}

@media(max-width:1000px) {
    .contact-page {
        position: relative;
        background-color: #fff;
        width: 400px;
        height: 650px;
        margin-left: 19px;
        padding-top: 30px;
    }

    .small-input-row {
        flex-direction: column;
    }
    .small-input {
        width: 80%;
    }
    .large-input {
        width: 80%;
        height: 200px;
    }
}