.App {
  text-align: center;
}

.App-header {
  background-color: black;
  height: 935px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home {
  height: 1000px;
  width: 1200px;
  background-color: #222222;
}

.home-header {
  width: 1200px;
  height: 100px;
  background-color: #222222;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
.header-right,
.header-left {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #222222;
  
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
  padding-left: 40px;
}


.header-right {
  color: #DEBF79;
  justify-content: flex-end;
  padding-right: 40px;
}

.contact {
  position: relative;
  background-color: #fff;
  height: 1000px;
}


.heading {
  height: 1000px;
}

.heading-2-text {
  position: absolute;
  bottom: 100px;
  right: 75px;
  height:300px;
  width: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-end;
}

.heading-1 {
  min-width: 200px;
  height: 50px;
  margin-left: 0px;
  margin-left: 40px;
}
.heading-1:after {
  content: "";
  display: flex;
  padding-top: 15px;
  width: 60%;
  border-bottom: 2px solid #DEBF79;
}

.heading-2 {
  margin: 1px;
  color: #222222;
}