.App {
  text-align: center;
  background-color: #222222;
  width: 100vw;
}

.App-header {
  position: relative;
  /* background-color: black; */
  height: 935px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home {
  margin:auto;
  height: 1000px;
  max-width: 1200px;
  background-color: #222222;
}

/* .home-header {
  width: 1200px;
  height: 100px;
  background-color: #222222;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
} */

.mobile-header-left,
.header-right,
.header-left {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #222222;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
  padding-left: 40px;
}

.mobile-header-left {
  display: none;
}

.mobile-header-right,
.header-right {
  color: #DEBF79;
  justify-content: flex-end;
  padding-right: 40px;
}

.mobile-header-right {
  display: none;
}

.mobile-contact-display {
  display: none;
}

.contact {
  position: relative;
  background-color: #fff;
  height: 1000px;
}


.heading {
  height: 1000px;
}

.heading-2-text {
  position: absolute;
  bottom: 100px;
  right: 75px;
  height:300px;
  width: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-end;
}

.heading-1 {
  min-width: 200px;
  height: 50px;
  margin-left: 0px;
  margin-left: 40px;
}
.heading-1:after {
  content: "";
  display: flex;
  padding-top: 15px;
  width: 60%;
  border-bottom: 2px solid #DEBF79;
}

.heading-2 {
  margin: 1px;
  color: #222222;
}

@media(max-width:1000px){
  /* .App-header {
    min-height: 1600px;
    flex-direction: column;
    margin: auto;
  } */

  .home {
    width: 400px;
    min-height: 1500px;
  }

  .home-header {
    max-width: 400px;
  }

  .header-left,
  .header-right {
    display: none;
  }

  .mobile-header-left,
  .mobile-header-right {
    display:inline
  }
  .heading-2-text {
    position: relative;
    margin-top: 100px;
    right: 57px;
    height: 300px;
    width: 400px;
    background-color: inherit;
    padding-bottom: 40px;
  }

  .mwi-logo {
    width: 200px;
    height: 50px;
  }

  .mobile-contact-display {
    position: relative;
    display: inline;
    height: 500px;
    width: 500px;
    top: 100px;
    left: 100px;
    background-color: #DEBF79;
  }
}