
.content-container {
    height: 350px;
    width: 325px;
    /* background-color: green; */
    background-color: #fff;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    border-radius: 2px;
    margin: 10px;
}

.learn-more-button {
    height: 50px;
    width: 150px;
    border-radius: 2px;
    background-color: #DEBF79;
}

/* .content-box-h2 {
    margin: 1px;
    color: #555;
} */

.content-box-text {
    font-size: small;
    color:  #858585;
}

.heading-two-image {
    height: 100px;
    width: 100px;
    /* padding: 20px; */
    /* background-color: yellow; */
    color: #858585;
}