


/* .home-header {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
} */

.home-row-2,
.home-row-1 {
    min-height: 60%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.home-row-2 {
    min-height: 40%;
    min-width: 100%;
    /* background-color: yellow; */
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
}

.home-text {
    font-size: medium;
}

.mapped-names {
    font-size: small;
    color: white;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: flex-end;
    margin: auto;
    margin-top: 0px;
}

@media (max-width:1000px){
    .home-row-1 {
        flex-direction: column;
        /* width: 300px; */
    }
    .home-row-2 {
        width: 300px;
        flex-wrap: wrap;
        /* color: black; */
    }
}