


/* .home-header {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
} */

.home-row-2,
.home-row-1 {
    min-height: 60%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.home-row-2 {
    min-height: 40%;
    min-width: 100%;
    /* background-color: yellow; */
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
}

/* .home-h1 {
    min-width: 200px;
    height: 50px;
    margin-left: 0px;
    margin-left: 40px;
} */

/* .home-h1:after {
    content: "";
    display: flex;
    padding-top: 15px;
    width: 60%;
    border-bottom: 2px solid #DEBF79;
} */

.home-text {
    font-size: medium;
}

.mapped-names {
    font-size: small;
    color: white;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: flex-end;
    margin: auto;
}