
.home {
    min-height: 100vh;
    width: 100vw;
    background-color: #222222;
}

.home-header {
    /* max-width: 300px;
    height: 100px;
    border-bottom: #fff solid 2px; */
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.home-row-2,
.home-row-1 {
    min-height: 60vh;
    width: 100vw;
    /* background-color: blue; */
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.home-row-2 {
    min-height: 40vh;
    /* background-color: yellow; */
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
}

.home-h1 {
    max-width: 300px;
    min-height: 50px;
    border-bottom: #fff solid 2px;
    /* font-size: xx-large; */
    margin-left: 40px;
}